#garlic-parm-title{
    font-family: "Times New Roman";
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(20, 130, 1);
    background-color: rgb(237, 205, 75);
}

#garlic-image{
    width: 600px;
    height: auto;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(20, 130, 1);
    background-color: rgb(237, 205, 75);
    text-align: center;
    font-weight: 900;
}

#description{
    font-size: 35px;
}

#ingredients{
    font-size: 30px;
}

#steps{
    font-size: 25px;
}

#description-text{
    text-align: center;
    color: rgb(237, 205, 75);
    background-color: rgb(20, 130, 1);
    font-family: "Times New Roman";
    font-size: 20px;
    font-weight: 100;
}

.list {
    color: rgb(237, 205, 75);
    background-color: rgb(20, 130, 1);
    font-family: "Times New Roman";
}

#ingredients-list{
    font-size: 20px;
    font-weight: 200;
}

#steps-list{
    font-size: 15px;
    font-weight: 100;
}
 