#odin-recipes{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: aliceblue;
    background-color: black;
}

.button{
    font-size: large;
    color: black;
}

#banana-bread{
    background-color: rgb(241, 185, 0);
}

#garlic-parm{
    background-color: rgb(244, 213, 152) ;
}

#tomato-soup{
    background-color: rgb(228, 97, 49);
}